{% extends 'himaya.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<style>
  .elsom-number{
  color: #0b6bd3;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}
</style>
<!-- ======= Intro Section ======= -->
<section id="intro" class="clearfix women">
    <div class="container" data-aos="fade-up">

      <div class="intro-img" data-aos="zoom-out" data-aos-delay="200">
        <!--фото лого химая в шапке-->
        <video width='100%' height= 'auto' controls>
          <source src="{% static 'assets_himaya/img/video/himaya_short.mp4'%}" type='video/mp4'>
          Your browser does not support the video tag.
        </video>
       
      </div>

      <div class="intro-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>{% trans 'Центр помощи и' %}<br>{% trans 'реабилитации женщин'%}<br><span>{% trans '"Химая"' %}</span></h2>
        <div>

          <a href="{% url 'locale' to_url='index#contact' %}" class="btn-services scrollto">{% trans 'Вам нужна помощь?' %}</a>
            <a href="#about" class="btn-services scrollto">{% trans 'Хочу помочь' %}</a>
        </div>
      </div>

    </div>
  </section><!-- End Intro Section -->



  <!-- ======= О нас Section ======= -->
<section id="services" class="section-bg">
  <div class="container" data-aos="fade-up">
      <header class="section-header">
          <p class="services">{% trans 'Что такое "Химая"?' %}</p>
          <p>{% trans 'Центр помощи и реабилитации  «Химая» начал свою деятельность 6 марта 2017 при финансовой поддержке Фонда «Сорос-Кыргызстан». Основными бенефициарами центра являются женщины и их дети, подвергшиеся насилию, женщины из уязвимых групп (лица живущие с ВИЧ, секс- работники, лица, употребляющие инъекционные наркотики), а также женщины находящиеся в трудной жизненной ситуации.' %}</p>
          <p class="services">{% trans 'Центр предоставляет следующий перечень услуг:' %}</p>
          <ul>
          <li>{% trans 'временное убежище (до 14 дней);' %}</li>
              <i class="bx bx-chevrons-right"></i><li>{% trans 'получение санитарно-бытовых услуг;' %}</li>
          <li><i class="bx bx-chevrons-right"></i> {% trans 'консультирование по социально-правовым и медицинским вопросам;' %}</li>
          <li><i class="bx bx-chevrons-right"></i> {% trans 'социально-правовое сопровождение;' %}</li>
          <li><i class="bx bx-chevrons-right"></i> {% trans 'юридическое сопровождение («общественный защитник», юрист-адвокат);' %}</li>
          <li><i class="bx bx-chevrons-right"></i>  {% trans 'вплоть до представления в суде;' %}</li>
          <li><i class="bx bx-chevrons-right"></i>{% trans 'помощь в реабилитации и социализации женщин;' %}</li>
          <li><i class="bx bx-chevrons-right"></i> {% trans 'реабилитация через новые навыки (шитье, прикладное ремесло, кондитерские навыки) и.т.д.' %}</li>
            </ul>
            <p class="services">{% trans 'За подробной информацией обращайтесь по телефону горячей линии 0551 733390' %}</p>
      </header>
  </div>
</section>




    <!-- ======= Истрии Женщин Section начало ======= -->
    {% for woman in women %}
    <section id="about">

      <!--история женщины начало-->
      <div class="container" data-aos="fade-up">

        <div class="row about-extra">
          <div class="col-lg-8 pt-5 pt-lg-0" data-aos="fade-left">
            <h4>{{woman.name}}</h4>
            <p>{{woman.story}}</p>
            
          </div>


          <div class="col-lg-3 try" data-aos="fade-right">

            <img src="{{woman.pic.url}}" class="img-fluid" alt="">
            <p>{% trans 'Вы можете помочь, перечислив средства на электронный кошелек Элсом' %}<span class="elsom-number">{{woman.elsom}}</span></p>

              <!-- <form>
                  <label class="presum">{% trans 'Сумма к сбору:' %}</label><label class="sum">{{woman.money_for_collecting}} сом</label>
                  <progress class="slider" value="{{woman.get_money}}" max="{{woman.money_for_collecting}}"></progress>
                  <label  class="less presum">{% trans 'Осталось собрать:' %}</label><label class="less sum">{{woman.remaining_amount}}</label>
              </form> -->
            <!-- <a class="helpbtn btn-services" href="/news/payment/{{woman.id}}">{% trans 'Хочу помочь' %}</a> -->

          </div>





        </div>
      </div>
      {% endfor %}
        <!--история женщины конец-->

        

       
 </section><!-- End Истрии Section -->

{% endblock %}