{% extends 'himaya.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<style>
  .elsom-number{
  color: #0b6bd3;
  font-weight: bold;
  font-size: 20px;
  margin-left: 10px;
}
</style>
<!-- ======= Intro Section ======= -->
<section id="intro" class="clearfix women">
    <div class="container" data-aos="fade-up">

      <div class="intro-img" data-aos="zoom-out" data-aos-delay="200">
        <!--фото лого химая в шапке-->
        <video width='100%' height= 'auto' controls>
          <source src="{% static 'assets_himaya/img/video/himaya_short.mp4'%}" type='video/mp4'>
          Your browser does not support the video tag.
        </video>
       
      </div>

      <div class="intro-info" data-aos="zoom-in" data-aos-delay="100">
        <h2>{% trans 'Центр помощи и' %}<br>{% trans 'реабилитации женщин'%}<br><span>{% trans '"Химая"' %}</span></h2>
        <div>

          <a href="{% url 'locale' to_url='index#contact' %}" class="btn-services scrollto">{% trans 'Вам нужна помощь?' %}</a>
            <a href="#about" class="btn-services scrollto">{% trans 'Хочу помочь' %}</a>
        </div>
      </div>

    </div>
  </section><!-- End Intro Section -->



  <!-- ======= О нас Section ======= -->
  <section id="services" class="section-bg">
      <div class="container" data-aos="fade-up">

          <header class="section-header">
              <h3>{% trans 'О нас' %}</h3>
              <p>{% trans 'Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus.Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus' %}</p>

              </header>
      </div>
  </section>
  <!-- О нас Section End -->




    <!-- ======= Истрии Женщин Section начало ======= -->
    {% for woman in women %}
    <section id="about">

      <!--история женщины начало-->
      <div class="container" data-aos="fade-up">

        <div class="row about-extra">
          <div class="col-lg-8 pt-5 pt-lg-0" data-aos="fade-left">
            <h4>{{woman.name}}</h4>
            <p>{{woman.story}}</p>
            
          </div>


          <div class="col-lg-3 try" data-aos="fade-right">

            <img src="{{woman.pic.url}}" class="img-fluid" alt="">
            <p>{% trans 'Вы можете помочь, перечислив средства на электронный кошелек Элсом' %}<span class="elsom-number">{{woman.elsom}}</span></p>

              <!-- <form>
                  <label class="presum">{% trans 'Сумма к сбору:' %}</label><label class="sum">{{woman.money_for_collecting}} сом</label>
                  <progress class="slider" value="{{woman.get_money}}" max="{{woman.money_for_collecting}}"></progress>
                  <label  class="less presum">{% trans 'Осталось собрать:' %}</label><label class="less sum">{{woman.remaining_amount}}</label>
              </form> -->
            <!-- <a class="helpbtn btn-services" href="/news/payment/{{woman.id}}">{% trans 'Хочу помочь' %}</a> -->

          </div>





        </div>
      </div>
      {% endfor %}
        <!--история женщины конец-->

        

       
 </section><!-- End Истрии Section -->

{% endblock %}