
{% extends 'himaya.html' %}
{% load static %}
{% load i18n %}

{% block content %}
  <!-- ======= Intro Section ======= -->
  <section id="intro" class="clearfix men">
    <div class="container" data-aos="fade-up">

      <div class="intro-img" data-aos="zoom-out" data-aos-delay="200">
        <!--фото лого химая в шапке-->
       <!-- <img src="assets/img/logo.jpg" alt="" class="img-fluid">-->
      </div>

      <div class="intro-info" data-aos="zoom-in" data-aos-delay="100">
        <h4 style="color: #fff">{% trans 'Наша организация также оказывает помощь' %}<br>{% trans 'лицам мужского пола, желающим восстановиться после наркозависимости' %}</h4>
        <div>

          <a href="#services" class="btn-services scrollto">{% trans 'Вам нужна помощь?' %}</a>
            <a href="#services" class="btn-services scrollto">{% trans 'Хочу помочь' %}</a>
        </div>
      </div>

    </div>
  </section><!-- End Intro Section -->



  <!-- ======= О нас Section ======= -->
  <section id="services" class="section-bg">
    <div class="container" data-aos="fade-up">
        <header class="section-header">
            <p>{% trans 'Мужчины, как и женщины, также нуждаются в помощи и поддержке. Поэтому ОО «Улукман Дарыгер» проводит работу по созданию кризисного центра для мужчин, в котором они получат помощь и возможность для реабилитации. У Вас есть возможность всесторонне поддержать работу данного центра.' %}</p>
            <p>{% trans 'За дополнительной  информацией обращайтесь по номерам:' %}</p>
            <p class="services">(3922) 53417 {% trans 'или' %}  (705) 271-161</p>
        </header>
    </div>
</section>
<!-- О нас Section End -->




    <!-- ======= Истрии Женщин Section начало ======= -->
    {% for man in men %}
    <section id="about">

      <!--история женщины начало-->
      <div class="container" data-aos="fade-up">

        <div class="row about-extra">
          <div class="col-lg-8 pt-5 pt-lg-0" data-aos="fade-left">
            <h4>{{man.name}}</h4>
            <p>{{man.story}}</p>
            
          </div>


          <div class="col-lg-3 try" data-aos="fade-right">

            <img src="{{man.pic.url}}" class="img-fluid" alt="">
              <form>
                  <label class="presum">{% trans 'Сумма к сбору:' %}</label><label class="sum">{{man.money_for_collecting}} сом</label>
                  <progress class="slider" value="{{man.get_money}}" max="{{man.money_for_collecting}}"></progress>
                  <label  class="less presum">{% trans 'Осталось собрать:' %}</label><label class="less sum">{{man.remaining_amount}}</label>
              </form>
            <a class="helpbtn btn-services" href="/news/payment/{{man.id}}">{% trans 'Хочу помочь' %}</a>

          </div>





        </div>
      </div>
    {% endfor %}
        <!--история женщины конец-->

       
 </section><!-- End Истрии Section -->


{% endblock %}